# MongoDB Connection
# Note: If your password contains special characters (@, :, /, ?, #), you must URL-encode them.
# Example: Ele/Sq9?uA.d3Z#6!yR -> Ele%2FSq9%3FuA.d3Z%236%21yR
MONGODB_URI=mongodb+srv://elesquad:<PASSWORD_HERE>@cluster0.ssmpl.mongodb.net/elesquad?retryWrites=true&w=majority&appName=Cluster0
